# Dependencias
node_modules/
.pnpm-store/

# Variables de entorno (¡CRUCIAL!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Compilación
dist/
build/
.cache/

# Sistema
.DS_Store
Thumbs.db
*.log
